.bigDIV {
    padding-top: 10px;
    padding-bottom:10px;
    display: flex;
    justify-content: baseline;
    background-color:rgb(250, 250, 250);
}
.uselessbutFINE {
    width: 119px;
    height: 39px;
    margin-top: 10px;
    cursor: pointer;
}
.buttonspam {
    background-color: rgba(250, 250, 250, 1);
    border-style: none;
    margin-bottom: 20px;
    margin-left: 30px;
    cursor: pointer;
}
.h2spam {
    font-family: Helvetica Neue, sans-serif;
    color: #000;
    cursor: pointer;
    background-color: rgba(250, 250, 250, 1);
}
.shortcode {
    text-align: right;
    margin-left:35px
}
.shortcode2 {
    display: flex; 
    justify-content: space-between;
}
.idkaboutthiscode {
    font-family: Helvetica Neue, sans-serif; 
    color: #000; 
    margin-top:15px; 
    font-size: medium; 
    margin: 0; 
    margin-top: 3px; 
    margin-right: 20px;
    cursor: pointer;
}
.someDIVcode {
    width: 1115px;
    height: 385px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right,#e6e6e6 0%, #f0f0f0 50%, #fafafa 100%), 
}
.neverusingbuttoncode {
    border-style: none;
    border-radius: 20px;
    background: linear-gradient(to right,#d6710b 0%,#c90027 50%, #e08100 100%)
}
.uselesscode {
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
.uselesscode2 {
    font-family: Helvetic, sans-serif;
    color: #000;
    font-size: 26px;
}
.whyforshortasscode {
    font-size: 12px;
    color: rgba(171, 171, 171, 1);
}
.bigdivagain {
    display: flex;
    justify-content: center;
    padding-left: 270px;
    background-color: rgba(250, 250, 250, 1);
}
.h1nomarginleft {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
.uselesscode3 {
    color: #c6c6c6;
    font-size: 20px;
}
.whydidimakethisforjustanad {
    width: 263px;
    height: 270px;
    border-radius: 10px;
}
.bigidiv {
    display: flex;
    justify-content:baseline;
    padding-left: 450px;
    padding-top: 20px;
    gap: 20px;
}
.imgbs {
    position: absolute;
    top: 10px;
    left: 10px;
}
.biggestdiv {
    text-align: center;
    display: flex;
    justify-content: baseline;
}
.smolldiv {
    padding-left: 450px;
    display: flex;
    justify-content: baseline;
    width: 1100px;
    height: 25.5px;
    padding-top: 25.5px;
}
.smollh2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 25.5px;
    margin: 0;
}
.spanstyle {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    background-color: #00b0f4;
    padding: 2px, 3px;
    border-radius: 3px;
    margin-left: 5px;
}
.abigdivhuh {
    background-color: rgba(250, 250, 250, 1);
    padding-left: 450px;
}
.randocode {
    display: flex;
    justify-content: baseline;
    gap: 15px;
}